@import "default.css";

body {
    min-height: 100vh;
    background-color: #202225;
    position: relative;
}

.password-generator {
    color: white;
    width: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

.password-generator .title {
    margin: 15px 0px;
    object-fit: cover;
}

.length-control {
    text-align: center;
    margin: 15px 0px;
}

.length-control .length {
    margin: 0;
    margin-bottom: 5px;
}

.length-control #lengthValue {
    margin-left: 10px;
}

.options-control .options {
    display: flex;
    justify-content: center;
    gap: 40px;
    row-gap: 15px;
    flex-wrap: wrap;
}

.options-control .option {
    display: flex;
    align-items: center;
}

.options-control .option input {
    font-size: 20px;
    margin-right: 10px;
}

.show-password {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    width: max-content;
    max-width: 100%;
}

.show-password .msg {
    font-size: 1.5em;
}

.show-password #password {
    background-color: black;
    padding: 15px;
    width: 100%;
    margin: 15px 0;
    font-size: 1.1em;
    word-break: break-all;
    border-radius: 6px;
}

.container-password{
    position: relative;
    cursor: pointer;
}

.container-password .copy-password{
    position: absolute;
    background-color: #094090de;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    opacity: 0;
    transition: 0.2s;
}

.container-password .copy-password span{
    margin-right: 5px;
}
@media (max-width: 780px) {
    body {
        padding: 15px;
    }

    .password-generator {
        width: 100%;
    }
}